* {
    /* background-color: lime; */
}

#container {
    background-color: blue;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .box { */
    /* background-color: cornflowerblue;
    margin: 2px;
    min-width: 20%;
    min-height: 50px;

}

.box:hover {
    /* background-color: chartreuse; */
/* } This is what I am going to attempt w/i JS. */